class App extends React.Component {
    constructor(props) {
        super();
    }
    render() {
        return (
            <div>
                { page.components.map((c, i) => {
                    c.property.key = i;
                    return React.createElement(window[c.type + 'Component'], c.property);
                }) }
            </div>
        )
    }
}

$(function() {
  ReactDOM.render(<App />, document.getElementById('main'));
})

